<div class="container">
  <i class="material-icons btn">monetization_on</i>
  <div class="price-modal opt--depth__4">

    <form class="form-horizontal" action="#" method="post">
      <!--<div class="form-group row" class="col-md-4">
        <div  ><label for="cost">Cost</label></div>
      </div>
      <div class="form-row" class="col-md-4">
        <div> &lt;!&ndash;class="col-md-4"&ndash;&gt; <input class="form-control" type="text" name="cost"></div>
      </div>-->


      <div class="form-group row">
        <label for="cost" class="col-sm-2 col-form-label">Cost</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cost">
        </div>
      </div>
      <div class="form-group row">
        <label for="net-price" class="col-sm-2 col-form-label">Price (Net)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="net-price">
        </div>
      </div>
      <div class="form-group row">
        <label for="net-total" class="col-sm-2 col-form-label">Total (Net)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="net-total">
        </div>
      </div>
      <div class="form-group row">
        <label for="gross-total" class="col-sm-2 col-form-label">Total (Gross)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="gross-total">
        </div>
      </div>
      <div class="form-group row">
        <label for="cost-estimation" class="col-sm-2 col-form-label">Estimation Cost</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cost-estimation">
        </div>
      </div>
      <div class="form-group row">
        <label for="cost-actual" class="col-sm-2 col-form-label">Actual Cost</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cost-actual">
        </div>
      </div>



      <!--<div class="row">
        <div class="col-md-4" ><label for="net-price">Price (Net)</label></div>
        <div class="col-md-4" ><input class="form-category" type="text" name="net-price"></div>
      </div>
      <div class="row">
        <div class="col-md-4" ><label for="net-total">Total (Net)</label></div>
        <div class="col-md-4" ><input class="form-category" type="text" name="net-total"></div>
      </div>
      <div class="row">
        <div class="col-md-4" ><label for="gross-total">Total (Gross)</label></div>
        <div class="col-md-4" ><input class="form-category" type="text" name="gross-total"></div>
      </div>
      <div class="row">
        <div class="col-md-4" ><label for="cost-estimation">Estimation Cost</label></div>
        <div class="col-md-4" ><input class="form-category" type="text" name="cost-estimation"></div>
      </div>
      <div class="row">
        <div class="col-md-4" > <label for="cost-actual">Actual Cost</label></div>
        <div class="col-md-4" ><input class="form-category" type="text" name="cost-actual"></div>
      </div>-->
    </form>
  </div>
</div>
