
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="additional-info">
  <p class="font-style-08">Additional Information</p>
  <hr>

  <div class="row  font-style-07">
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sales Assistant" value="">
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="PO Reference" value="">
      </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width test">
          <input matInput placeholder="British Pound-£" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row font-style-07">
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sales Channel" value="">
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Source" value="">
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Function Sheet" value="Pending">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row font-style-07">
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Cancellation Policy" value="">
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Delivery Method" value="">
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Payment Terms" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row font-style-07">
  <div class="col-sm-4">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Reason" value="">
      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-4">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Event Manager" value="">
      </mat-form-field>
    </form>
  </div>
  <div class="col-sm-4">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Commercial" value="">
      </mat-form-field>
    </form>
  </div>
</div>
</div>
